asgiref==3.7.2
cachetools==5.3.3
cffi==1.16.0
charset-normalizer==3.3.2
confluent-kafka==2.3.0
cryptography==42.0.7
Django==5.0.3
django-cors-headers==4.3.1
django-crispy-forms==2.1
djangorestframework==3.15.0
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
jwcrypto==1.5.6
kafka-python==2.0.2
numpy==1.26.4
pandas==2.2.1
pkce==1.0.3
proto-plus==1.23.0
protobuf==4.25.3
pyasn1_modules==0.4.0
pycparser==2.22
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-jwt==4.1.0
pytz==2024.1
requests==2.31.0
scipy==1.12.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
